.event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.event-card {
  width: 300px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.event-info {
  padding: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 equal columns */
  gap: 10px; /* Optional: Adjust the gap between columns */
  height: 300px; /* Set the height for the grid container */
}

.grid-item {
  background-size: cover; /* Ensure the background image covers the div */
  background-position: center; /* Center the image */
  height: 100%; /* Make sure the grid items take the full height of the container */
}
.img-inc {
  /* Initial size */
  border-radius: 15px;
  height: auto;
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}
.img-inc:hover {
  transform: scale(1.2); /* Increase image size by 20% on hover */
}

.color-inspo {
  font-family: "Georgia", serif; /* You can choose a similar serif font like in the image */
  font-size: 4.8rem;
  line-height: 1.5;
  color: #140c0c; /* Light color similar to white */
  /* Dark background similar to the image */
  padding: 20px;
  text-align: center;
}

.highlight {
  font-style: italic; /* Italicize the emphasized words */
  color: #2dd4bf; /* Greenish-blue color like in the image */
  font-weight: bold; /* Make the words bold for emphasis */
}

.events-section {
  background: url("./assets/icons/ColorstackBackground.png");
}
